!!!
%html
  %head
    %title Hacker News Best RSS
    %meta{:name => "keywords",
          :content => "hacker, news, hackernews, rss, best"}
    %link{:rel => "alternate",
          :type => "application/rss+xml",
          :title => "Hacker News Best",
          :href => "/rss"}
  %body
    %h1
      Hacker News Best
      %a{:href => "/rss"} RSS
    %p
      %a{:href => "https://github.com/kaini/hnbest"} Github